{% extends '__main.html' %}

{% block title%}Lista pojazdow{% endblock %}

{% block page %}

    <div class="jumbotron">
        <h1 class="display-4">Witaj {{user.username}}</h1>
        <p>{{allert1}}</p>
        <p>{{allert2}}</p>

        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn btn-success">Logout <i class="fas fa-sign-out-alt"></i></a>
        {% else %}
            <a href="{% url 'login' %}"><i class="fas fa-2x fa-sign-in-alt"></i></a>
        {% endif %}

    </div>

    <a href="{% url 'newCar' %}"><i class="fas fa-2x fa-plus-circle"></i></a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Marka</th>
                <th scope="col">Model</th>
                <th scope="col">Nr rejestracyjny</th>
                <th scope="col">Rok produkcji</th>
                <th scope="col">Przebieg</th>
                <th scope="col">Data przegladu technicznego</th>
                <th scope="col">Obsuga okresowa data</th>
                <th scope="col">Obsuga okresowa km</th>
            </tr>
        </thead>

        <tbody>

        {% for car in allCars %}
            <tr>
                <td>{{car.marka}}</td>
                <td>{{car.model}}</td>
                <td>{{car.nrRejestracyjny}}</td>
                <td>{{car.rokProdukcji}}</td>
                <td>{{car.przebiegPojazdu}}</td>

                {% if car.przegladTechniczny < allert2 %}
                    <td><div class="alert alert-danger" role="alert">{{car.przegladTechniczny}}</div></td>
                {% elif car.przegladTechniczny < allert1 %}
                    <td><div class="alert alert-warning" role="alert">{{car.przegladTechniczny}}</div></td>
                {% else %}
                    <td>{{car.przegladTechniczny}}</td>
                {% endif %}

                <td>{{car.obslugaOkresowaData}}</td>
                <td>{{car.obslugaOkresowaKM}}</td>

                <td><a href="{% url 'editCar' car.id %}"><i class="far fa-2x fa-edit"></i></a></td>
                <td><a href="{% url 'deleteCAr' car.id %}"><i class="far fa-2x fa-trash-alt"></i></a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
